:root {
  --bs-body-font-size: 1rem;
}

h2 {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar {
  padding: 0.5rem 3rem;
  --bs-navbar-nav-link-padding-x: 0.7rem;
  --bs-navbar-brand-padding-y: 0.15rem;
  --bs-navbar-toggler-padding-y: 0.15rem;
  --bs-navbar-toggler-padding-x: 0.55rem;
  --bs-navbar-toggler-font-size: 2rem;
}

.form-control {
  font-size: 1rem;
}

.btn {
  --bs-btn-font-size: 1rem;
}

.btn-outline-success {
  --bs-btn-color: #19110b;
  --bs-btn-border-color: #19110b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #19110b;
  --bs-btn-hover-border-color: #19110b;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #19110b;
  --bs-btn-active-border-color: #19110b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #19110b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #19110b;
  --bs-gradient: none;
}

p {
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

footer {
  background: #19110b;
  font-size: 14px;
  color: white;
  margin-top: 5rem;
}

.f-firstline {
  border-bottom: 1px solid #392d23;
}

.f-secondline a {
  text-decoration: none;
  color: white;
}

.f-secondline a:hover {
  color: white;
}

.f-thirdline {
  display: none;
}

@media screen and (max-width: 48rem) {
  :root {
    --bs-body-font-size: 0.8rem;
  }

  .navbar {
    padding: 0.5rem 1.5rem;
    --bs-navbar-toggler-font-size: 1rem;
  }

  .form-control {
    font-size: 0.8rem;
  }

  .btn {
    --bs-btn-font-size: 0.8rem;
  }

  .f-firstline {
    text-align: center;
  }

  .f-secondline {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .f-thirdline {
    display: block;
  }
}
